<!DOCTYPE css>
* {
	margin: 0;
	padding: 0;
	font-family: helvetica, sans-serif;
}

.header {
	height: 120px;
	width: 100vw ;
	background: #68246D;
	padding: 0 0 0 0;
	color: white;
}

.menu {
	float: right;
	line-height: 120px;
}

.menu a {
	color: white;
	text-decoration: none;
	padding: 0 50px 0 0;
	font-size: 30px;
	font-family: helvetica;
	transition: 0.4s;
	width: 100vw;
}

.show-menu-btn, .hide-menu-btn {
	transition: 0.4s;
	font-size: 20px;
	cursor: pointer;
	display: none;
}
.show-menu-btn {
     text-align: center;
}

.show-menu-btn i {
	line-height: 120px;
	font-size: 40px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
	color: violet;
}

#chk{
	position: absolute;
	visibility: hidden;
	z-index: -1111
}

.content {
	padding: 0 0 0 0;
}

.content img {
	width: 100%;
	margin: auto;
}

.content p {
	text-align: justify;
	padding: 20px 20px 50px 20px;
	font-size: 20px;
	font-family: helvetica;
	color: #695E6B;
}

.content h1 {
	padding-top: 50px;
	font-size: 40px;
	font-family: helvetica;
	color: #695E6B;
}

.content h2 {
	padding-top: 50px;
	font-size: 25px;
	font-family: helvetica;
	color: #695E6B;
}

/* This code makes the page dynamic so that it can be viewed
accurately both on small and large screens */

@media screen and (max-width: 800px) {
	.show-menu-btn, .hide-menu-btn {
		display: block;
	}

	.show-menu-bth {
		text-align: center;
	}
    .menu {
    	position: fixed;
    	width: 100vw;
    	height: 100vh;
    	background: #68246D;
    	right: -100%;
    	top: 0;
    	text-align: center;
     	padding: 80px 0;
     	line-height: normal;
    }
    .menu a {
    	display: block;
	font-family: helvetica;
    	padding: 20px;
    	
    }
    .hide-menu-btn {
    	position: absolute;
    	top: 40px;
    	right: 40px;
    }
    #chk:checked ~ .menu {
    	right: 0;
    }
}

